spring:
  ## database
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  ## jpa
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false
    show-sql: true
    hibernate:
      format_sql: true
      ddl-auto: update

  ## file upload
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true

## log
logging:
  level:
    com:amazonaws.util.EC2MetadataUtils: error
    com.amazonaws.internal.InstanceMetadataServiceResourceFetcher: error
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error

## aws
cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    s3:
      bucket: ${AWS_BUCKET}
    region:
      static: ${AWS_S3_REGION}
      auto: false
    stack:
      auto: false

## custom
app.jwt.secret: ${JWT_SECRET_KEY}
app.jwt.expiration: ${JWT_EXPIRATION_TIME}
